{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form action="/" method="post">
          <label for="todo">Enter a task:</label><br>
          <input type="text" id="todo" name="todo" required>
          <input type="submit" value="Add">
        </form>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm">
        <h2>To Do</h2>
        <table class="table">
          <tbody>
            {% for item in view_model.to_do_items %}
            <tr>
              <td class="pl-0">
                {{ item.name }}
              </td>
              <td>
                <form action={{ url_for('start_item', id=item.id) }} method="post">
                  <input type="submit" value="Start" class="btn btn-primary"/>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-sm">
        <h2>Doing</h2>
        <table class="table">
          <tbody>
            {% for item in view_model.doing_items %}
            <tr>
              <td class="pl-0">
                {{ item.name }}
              </td>
              <td>
                <form action={{ url_for('complete_item', id=item.id) }} method="post">
                  <input type="submit" value="Complete" class="btn btn-success"/>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-sm">
        <h2>Done</h2>
        <table class="table">
          <tbody>
            {% for item in view_model.done_items %}
            <tr>
              <td class="pl-0">
                {{ item.name }}
              </td>
              <td>
                <form action={{ url_for('undo_item', id=item.id) }} method="post">
                  <input type="submit" value="Undo" class="btn btn-danger"/>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}