{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form action="/" method="post">
          <label for="todo">Enter a task:</label><br>
          <input type="text" id="todo" name="todo" required>
          <input type="submit" value="Add">
        </form>
      </div>
    </div>
    <div class="row mt-4">
        {% for list in lists %}
        <div class="col-sm">
          <h2>{{ list.name }}</h2>
          <table class="table">
            <tbody>
              {% for item in items %}
              {% if item.list_id == list.id %}
              <tr>
                <td class="pl-0">
                  {{ item.name }}
                </td>
                {% if list.name == 'To Do' %}
                <td>
                  <form action="/start/{{ item.id }}" method="post">
                    <input type="submit" value="Start" class="btn btn-primary"/>
                  </form>
                </td>
                {% elif list.name == 'Doing' %}
                <td>
                  <form action="/complete/{{ item.id }}" method="post">
                    <input type="submit" value="Complete" class="btn btn-success"/>
                  </form>
                </td>
                {% elif list.name == 'Done' %}
                <td>
                  <form action="/undo/{{ item.id }}" method="post">
                    <input type="submit" value="Undo" class="btn btn-danger"/>
                  </form>
                </td>
                {% endif %}
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}