{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form action="/" method="post">
          <label for="todo">Enter a task:</label><br>
          <input type="text" id="todo" name="todo" required>
          <input type="submit" value="Add">
        </form>
      </div>
    </div>
    <div class="row mt-2">
        {% for list_name, list_id in lists.items() %}
        <div class="col-sm">
          <h2>{{ list_name }}</h2>
          <ul class="list-group mb-4">
            {% for item in items %}
            {% if item.idList == list_id %}
            <li>{{ item.name }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}